nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    
}
#testBtn{
    width: 50%;
    border: solid grey 2px;
    background-color: lightgrey;
    transition-duration: .2s;
}

#testBtn:hover{
    border: solid black 3px;
    background-color: white ;
}